/* Navbar container */
.navbar {
    background-color: lightgray; /* Blue background */
    color: #036100;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  /* Inner container for content alignment */
  .navbar-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Title styling */
  .navbar-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Links container */
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  /* Link styles */
  .navbar-link {
    color: #036100;
    text-decoration: none;
    font-size: 16px;
  }
  

  .navbar-title{
    color: #036100;
  }


  .logout-button{
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
