.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    width: 100%;
    font-family: Arial, sans-serif;
  }
  
  .sidebar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .sidenav-bgimage-wrapper {
    width: 100%;
    height: 100%;
  }
  
  .sidenav-img {
    width: 800px;
    height: 100%;
  }
  
  .side-img {
    max-width: 100%;
    max-height:100%;
    object-fit: cover;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .login-form {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .login-form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .form-container {
      flex-direction: column;
    }
  
    .sidebar {
      display: none;
    }
  
    .login-form {
      width: 90%;
      margin: 0 auto;
    }
  }
  